.section-left h1 {
    font-size: 1em !important;
}

.img {
    width: 50%;
    position: inherit;
    height: 150px;
    margin: 30px;
    border-radius: 100%;
}

.adres {
    margin: 10px;
    color: white;
    background-color: #3b3b3c;
    text-transform: capitalize;
    width: 100%;
    height: 50px;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;



}

.ul-responsive {
    display: contents;


}

.icons {
    margin: 5px;
    background-color: #3b3b3c;
    font-size: 1.5em;
}

.liste {
    font-size: 0.8em !important;
    height: 50px;
    width: 100%;
    background-color: #3b3b3c;
}

.container {
    width: 70% !important;
    display: flex;
    justify-content: flex-start;
    min-height: 130vh
}