.genel-content {
    width: 90% !important;
    margin: 30px auto !important;
 


}

.section-left h1 {
    font-size: 1em !important;
}


.section-left {
    width: 40%;
}

.section-right {
    width: 80%;
}

.img {
    width: 50%;
    position: inherit;
    height: 150px;
    margin: 30px;
    border-radius: 100%;
}



.icons {
    margin: 5px;
    background-color: #3b3b3c;
    font-size: 1.5em;
}

.liste {
    font-size: 0.8em !important;
    height: 80px;


}

.section-right h1 {
    background-color: white;
    margin: 50px 5px 0 10px;
    font: 2.5em sans-serif;


}

.section-right h3 {
    background-color: white;
    margin: 0 85px 10px 10px;
    text-transform: uppercase;
    font: 1.1em;

}